body {

}

.wrapper {

}

header {

}
	header .top {
		background: url('../images/authentication-top-bg.png') repeat-x;
		height: 34px;
	}
		header .top .authentication {
			line-height: 34px;
			color: white;
			text-align: right;
			font-family: Arial,sans-serif;
		}
			header .authentication a {
				margin:10px;
				color: white;
				text-decoration: none;
			}
				header .authentication a:hover {
					text-decoration: underline;
				}
	header .bottom {
		background: url('../images/authentication-bottom-bg.png') repeat-x;
		padding: 5px 10px 15px;
	}
		header .bottom a.site_logo {
			display: block;
			float: left;
			font-size: 30px;
			color: white;
			text-decoration: none;
			font-family: Arial,sans-serif;
			text-align: center;
		}
		header .bottom .header_search {
			display: inline-block;
			line-height: 51px;
			text-align: center;
		}
			header .bottom .search_field {
				display: inline-block;
				padding: 6px 10px;
				border-radius: 3px;
				outline: none;
				border: 0;
			}
			header .bottom .header_search .header_search_btn {
				border: 1px solid white;
				text-align: center;
				background: transparent;
				color: white;
				outline: none;
				margin: 0 0 0 10px;
				padding: 5px 10px;
				cursor: pointer;
			}
	header .bottom .add_post {
		border: 1px solid white;
		color: white;
		display: block;
		padding: 5px 10px;
		text-decoration: none;
		text-align: center;
		float: right;
		font-family: Arial,sans-serif;
		margin: 15px 0 0 0;
		font-size: 12px;
	}
.nav {
	margin: -10px auto 0;
	text-align: left;
	background: white;
	border:1px solid #ccc;
}
	.nav > li {
		float: left;
		display: inline-block;
	}
		.nav > li > a {
			padding: 15px;
			text-decoration: none;
			color: black;
			font-family: Arial, sans-serif;
			font-weight: bold;
			display: inline-block;
			position: relative;
		}
			.nav > li > a.active {
				background: #cf2f31;
				color: white;
			}
		.nav > li > a.nav_categories {
			padding: 15px 52px 15px 15px;
			position: relative;
		}
			.nav > li > a.nav_categories::after {
				content: "";
				display: block;
				position: absolute;
				right: 8px;
				margin-top: -2px;
				top: 47%;
				border: 4px solid transparent;
				border-top: 8px solid black;
			}
			.nav > li > a.active::after {
				border: 4px solid transparent;
				border-top: 8px solid white;
			}
		.nav > li.sub_menu_link	{
			position: relative;
		}
			.nav > li.sub_menu_link .sub_menu	{
				display: none;
				position: absolute;
				top: 48px;
				left: -1px;
				text-align: center;
				border: 1px solid #ccc;
				border-top:none;
				background: #cf2f31;
				padding: 1px;
			}
			.nav > li.sub_menu_link .sub_menu a {
				font-family: Arial, sans-serif;
				text-decoration: none;
				padding:4px;
				display: inline-block;
				color: white;
				font-weight: bold;
			}
				.nav > li.sub_menu_link .sub_menu a:hover {
					text-decoration: underline;
				}
			.nav > li.sub_menu_link:hover .sub_menu {
				display: block;
			}
main {

}

	main aside {
		border-right:2px solid #c0c0c0;
		padding-top: 20px;
		padding-bottom: 30px;
	}

	main section {
		padding-top: 20px;
		padding-bottom: 30px;
	}

		main section .form-horizontal {
			margin: 30px 0 0 0;
		}

		main section .title_page {
			text-align: center;
			font-size:28px;
			color:#4e4e5f;
		}

		main section .t_mess {
			border-bottom:10px solid gray;
			width:100%;
			padding:2px;
		}

			main section .t_mess .title_p_mess {
				background-color:#e6ffe8;
				border-bottom:1px solid gray;
			}

			main section .t_mess .p_mess_cat {
				border-bottom: 1px solid gray;
				text-align: center;
				margin: 10px 10px;
			}

			main section .t_mess .mess_desc {
				display: inline-block;
			}

				main section .t_mess .mess_desc .text_desc {
					float: left;
					margin: 5px;
				}

		main section .mini_mess {
			margin:5px;
			width:205px;
			float:left;
		}

		main section .del_mess {
			color:red;
			font-weight:bold;
		}

.not_confirm, .not_actual {
	color:red;
	text-align: center;
}

.small-width {
	width: 36%!important;
}

.img {
	margin:10px;
}

.p_search {
	width:50px;
	padding:3px;
} 

.pager li {
	list-style:none;
	display: block;
	width:20px;
	padding:10px;
	float:left;
}
.pager li.first{
	width:50px;
}
.pager li.last {
	width:80px;
}

footer {
	border-top:3px solid #c0c0c0;
	height:30px;
	background-color:#f2f2f2;
}
footer p {
	margin:5px;
	text-align:center;
	font-size:10px;
}

/* admin styles */

#content-admin {
	padding: 10px;
}

.moder_mess {
	width: 100%;
}

.moder_mess th {
	background-color: #008040;
	text-align: center;
}

.moder_mess td {
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 2px solid gray;
	border-left: 1px solid gray;
	padding: 2px;
	text-align: center;
}

.edit_cat {
	margin-left: 10px;
}

.edit_cat ul {
	list-style: none;
}

.moder_mess td.title {
	text-align: left;
	padding-left: 10px;
}

div.new_cat {
	border-bottom: 5px solid gray;
	padding: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
}

@media (max-width: 1170px) {

}

@media (max-width: 	970px) {

}

@media (max-width: 	750px) {

}

/* JQuery stylesheets */

.tooltip-inner {
	width: 130px;
}